In [13]:
import pandas as pd

data = pd.read_excel(r'C:\Users\thoma\OneDrive\College Work\commerce_data.xlsx')

In [14]:
data

      product_price  discount  viewer   likes    sales
0             11700      0.29  650000  180000    11700
1             17400      0.44  650000  180000    87000
2             14000      0.47  650000  180000  8540000
3             29100      0.29  410000   18000  5063400
4             32000       NaN  350000   15000  1024000
...             ...       ...     ...     ...      ...
2898           1590      0.27    1271    4509    19080
2899           1390      0.26    1271    4509    31970
2900           1390      0.26    1271    4509   111200
2901            990      0.34    1271    4509   124740
2902          65000       NaN    1141    4155   195000

[2903 rows x 5 columns]